<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>header - defines a header for a document or a section</header>
    <nav>nav - defines a set of navigation links</nav>
    <section>section - defines a section in a document</section>
    <article>article - defines an independent, self-contained content</article>
    <aside>aside - defines content aside from the content (like sidebar)</aside>
    <footer>footer - defines a footer for a document or a section</footer>
    <details>
      details - defines additional details that the user can open and close on
      demand
    </details>
    <summar>summary - defines a header for the details element</summar>
  </body>
</html>
